<main>
  <db>
    <Name>TSERVER</Name>
    <Default>false</Default>
    <ConnectionString>Integrated Security=SSPI;Persist Security Info=False;User ID="";Initial Catalog=expertAccounts;Data Source=TSERVER;Packet Size=4096;Workstation ID=FILIN7;Initial File Name="";</ConnectionString>
  </db>
  <db>
    <Name>SRVSQL2-ST1</Name>
    <Default>true</Default>
    <ConnectionString>Integrated Security=SSPI;Persist Security Info=False;User ID="";Initial Catalog=expertAccounts;Data Source=SRVSQL2-ST1;Packet Size=4096;Workstation ID=FILIN7;Initial File Name="";</ConnectionString>
  </db>
</main>